DB_TYPE=postgres
DSN="dbname=encoder sslmode=disable user=postgres password=root host=localhost"

DB_TYPE_TEST=sqlite3
DSN_TEST=":memory:"

ENV=dev
DEBUG=true
AUTO_MIGRATE_DB=true

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
LOCAL_STORAGE_PATH=/go/src/tmp